@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #cdd2f8;
}

body #wrapper {
  width: 95%;
  max-width: 1950px;
  margin-inline: auto;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body #wrapper #head {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17);
  border-radius: 0 0 16px 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(255, 255, 255, 0.54);
  border-top: none;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  z-index: 1;
  width: 100%;
}

body #wrapper #head .logo {
  font-weight: 600;
  font-size: 1.5rem;
}

body #wrapper #head .logo::first-letter {
  color: #0077ff;
}

body #wrapper #head .menu {
  width: 32px;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
}

body #wrapper #mostRecent {
  -ms-scroll-snap-type: y;
      scroll-snap-type: y;
  height: 100%;
  margin: auto;
}

@media screen and (min-width: 750px) {
  body #wrapper #mostRecent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
  }
}

body #wrapper #mostRecent .bannerImg {
  border-radius: 1rem;
  border: 2px solid #ffffff;
  width: 100%;
  margin-left: -15%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  body #wrapper #mostRecent .bannerImg {
    width: 50%;
    margin: 0;
  }
}

body #wrapper #mostRecent .desc {
  width: 100%;
}

body #wrapper #mostRecent .desc h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1.5rem;
}

body #wrapper #mostRecent .desc p {
  width: 90%;
  margin: auto;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

body #wrapper #mostRecent .desc button {
  padding: 0.8rem 1.5rem;
  background: #0077ff;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 12px;
  width: 100%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 750px) {
  body #wrapper #mostRecent .desc {
    width: 30%;
  }
  body #wrapper #mostRecent .desc h1,
  body #wrapper #mostRecent .desc p {
    margin: 0;
    margin-bottom: 1.5rem;
    width: 90%;
  }
  body #wrapper #mostRecent .desc button {
    width: 70%;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */